.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: xx-large;
  font-family: 'Segoe UI';
  font-weight: 'SemiBold';
  background-color: #6264A7;
}

.header {
  margin: 30px;
  text-align: center;
}

.main {
  background-color: #ffffff;
  margin: 0 30vh;
}

.App-link {
  color: #6264A7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.label {
  color: #000000;
}

.Form {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: '100%';
}

.Division {
  margin: 15px;
  width: 100%;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.AnotherDivision {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.TextTitle {
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px 0;
}

.BorderIsBorder {
  border-radius: 0;
}

.HorizontalDivision {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App::-webkit-scrollbar {
  width: 25px;
}

.assessmentFrame {
  border: none;
  width: 100%;
  height: 100vh
}

.assessmentText {
  margin: 20px;
}

.course-detail {
  margin: 0 30vh;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #6264A7;
  padding: 10px;
  margin: 0 30vh;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

footer {
  margin-top: 5%;
  text-align: center;
  color:white;
  padding:11px; 
  background: #6264A7;
}